body {
	background: url(../images/photo.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.container {
	.padding {
		padding-top: 50px;
	}
}
#header {
	#menu.active {
    	background-color: $black;
	}
	.navbar-default {
    	background-color: rgba(0,0,0,0);
    	border-color: rgba(0,0,0,0);
    	padding: 7px;
    	margin: 0;
	}
	.navbar-nav {
		padding: 5px 0;
		li > a {
    		@include titulos(13.5px, 500, 0, $white, normal);
    		font-family: $Raleway;
    		padding: 10px 15px;
    		&:hover, &:focus {
    			-webkit-transition: background 0.5s;
						transition: background 0.5s;
    			background-color: #AF3A76;
    			color: $white;
    		}
		}
		.active {color: $white;}
	}
	.navbar-toggle {
    	border: 1px solid $purple;
    	background-color: $purple;
    	margin-top: 8px;
    	box-shadow: 1px 1px 11px $rose;
    	.icon-bar {
    		background-color: $white;
		}
	}
	.navbar-collapse {
		border-color: #E54C9B;
		margin-top: 7px;
	}
	.navbar-brand {
		padding: 0 15px;
		img {
			width: 60px;
			height: 50px;
		}
	&:hover, &:focus {
    	opacity: 0.5;
	    }
	}
}
