section#contact
    +tittle("CONTÁCTAME")
    .container-fluid
        +png("gats")
        +socialredes()
footer
    .container-fluid.correo.text-center
        p.text-icon 
            i.fa.fa-envelope.animated.pulse
            |anapaulavermesolano9@gmail.com 
        .pd
        p.text-icon 
            i.fa.fa-phone.animated.tada
            |+51 991 474 474
        .pd  
        a.text-icon.decoration(href="ANA PAULA VERME CV.pdf")
            i.glyphicon.glyphicon-file.animated.pulse
            |C.V
        p.copyright Copyright © Ana Paula Verme Solano 2016