header#header
    nav.navbar.navbar-default.navbar-fixed-top#menu
        .container
                .navbar-header
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                            span.sr-only toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar

                    a.navbar-brand.titulo(href="#home") 
                        img(src="images/Logo.menu.png")

                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav.navbar-right
                        li
                            a.hvr-underline-from-center(href="#sobre_mi") SOBRE MÍ
                        li
                            a.hvr-underline-from-center(href="#habilidades") HABILIDADES
                        li
                            a.hvr-underline-from-center(href="#proyectos") MIS PROYECTOS
                        li
                            a.hvr-underline-from-center(href="#contact") CONTÁCTAME
