//- <!-- Flickity HTML init -->
//- <div class="gallery js-flickity" data-flickity-options='{ "autoPlay": 1500 }'>
//-   <div class="gallery-cell"></div>
//-   <div class="gallery-cell"></div>
//-   <div class="gallery-cell"></div>
//-   <div class="gallery-cell"></div>
//-   <div class="gallery-cell"></div>
//- </div>
section#home
	.container
		.banner
			img.img-responsive.img-banner.animated.fadeInDown(src="images/anapaula.png", alt="")
				
			