section#proyectos
	+tittle("MIS PROYECTOS")
	.container
		.row
			+proyectos("tictactoe", "TICTAC-","TOE", "http://anapaulavermesolano.github.io/TICTACTOE")
			+proyectos("reloj", "Reloj-","Digital", "http://anapaulavermesolano.github.io/Reloj.Digital/")
		.row
			+proyectos("Agency-Theme", "Agency-","Theme", "http://anapaulavermesolano.github.io/Agency-Theme")
			+proyectos("Love-Blog", "Love-","Blog", "http://anapaulavermesolano.github.io/LoveBLog")
		.row
			+proyectos("Flat-Theme", "Flat-","Theme", "http://anapaulavermesolano.github.io/Flat_theme")
			+proyectos("Spring-Game", "Spring-","Game", "http://anapaulavermesolano.github.io/responsive-blog-gridsystem")