section#sobre_mi
    .container
        .padding
            .row
                .col-md-6.col-sm-12.slider.slider
                    .gallery.js-flickity(data-flickity-options='{ "autoPlay": 2300 }')
                        .gallery-cell.foto-one
                        .gallery-cell.foto-two
                        .gallery-cell.foto-three
                .col-md-6.col-sm-12
                    .text.moved
                        h1 Sobre Mí

                        p Hola soy Ana Paula Verme, y soy Fron-End Developer.
                        p Me considero una persona 
                            b autodidacta, creativa, responsable y puntual 
                            |en el cumplimiento de mis trabajos. Me gusta aprender cosas nuevas cada día. Me desenvuelvo bien bajo presión y soy 
                            b comprometida 
                            |con los proyectos que me planteo, 
                            b dando el 100% de mí siempre.

                        p En Laboratoria he aprendido a desarrollar páginas web incluyendo los lenguajes de 
                            b HTML5, CSS3, JADE, SASS, JavaScript, jQuery. 
                            |Con la capacidad de crear páginas web adaptables a diferentes tamaños de dispositivos móviles.

                        p Si estás interesado en desarrollar un sitio web o necesitas una Front-End Developer, yo te puedo ayudar con los diferentes servicios que brindo.