$white: #fff;
$purple: #812B57;
$black: black;
$purple-darck: #662245;
$rose:  #DC2382;
$Raleway: 'Raleway', sans-serif;
$Amatic: 'Amatic SC', cursive;
$Delius: 'Delius Swash Caps', cursive;
$border: #AF3A76;